@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap'); */


/* Theme variables */
:root {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-xl: 1280px;
  --color-primary: #00a7f3;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    /* background-color: #f6f6fc; */
    background-color: #f7fafc;
    overflow-x: hidden;
  }
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
